
.comment-list-item-box {
	width: 100%;
	height: auto;
	min-height: 100px;
	border-radius: 8px;
	background: #f5f5f5d4;
	padding: 15px 10px;
	margin-bottom: 25px;
}

.comment-list-item-box:last-of-type {
	margin-bottom: 0;
}

.comment-item-name-delete-part {
	width: 100%;
	height: auto;
	text-align: left;
	margin-bottom: 15px;
}

.comment-item-name {
	display: inline-block;
	width: calc( 100% - 50px );
	text-align: left;
	font-size: 1.1em;
	line-height: 1.2;
	font-weight: bold;
}

.comment-item-delete-btn {
	width: 50px;
	background: transparent;
}

.comment-item-delete-btn > i {
	font-size: 21px;
	color: #A1A1A1;
}

.comment-item-content {
	width: 100%;
	text-align: left;
	font-size: 0.9em;
	line-height: 1.4;
	word-break: break-all;
    word-wrap: break-word;
}
