body {
    background: #FEF9FA;
}

.section-container {
    width: 100%;
    height: 100%;
    max-width: 970px;
    min-width: 320px;
    display: inline-block;
    position: relative;
    background: #FEF9FA;
    padding-bottom: 35px;
}

.pointer {
    cursor: pointer;
}

.white-bg {
    background: #fff;
}

.nanum-pen-font {
    font-family: 'Nanum Pen Script', cursive;
}